#sidebar {
    position: fixed;
    // top: 100px;
    left: 0;
    width: 238px;
    height: 100%;
    // background: var(--light);
    z-index: 2000;
    font-family: var(--lato);
    transition: .3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
    overflow: hidden;
}

#sidebar::--webkit-scrollbar {
    display: none;
}

#sidebar.hide {
    width: 60px;
}

#sidebar .brand {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--black);
    // position: sticky;
    top: 0;
    left: 0;
    // background: var(--light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

#sidebar .brand .bx {
    font-size: 16px;
    min-width: 74px;
    display: flex;
    justify-content: center;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

#sidebar .side-menu li {
    height: 35px;
    // background: transparent;
    margin-left: 6px;
    // border-radius: 48px 0 0 48px;
    // padding: 4px;
}

#sidebar .side-menu li.active {
    margin-top: 15px;
    // background: var(--grey);
    position: relative;
}

#sidebar .side-menu li.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    // border-radius: 50%;
    top: -40px;
    right: 0;
    // box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

#sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    // box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

#sidebar .side-menu li a {
    width: 80%;
    height: 100%;
    // background: var(--light);
    display: flex;
    align-items: center;
    // border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
}

#sidebar .side-menu.top li.active a {
    // color: var(--blue);

}

#sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width .3s ease;
}

#sidebar .side-menu li a.logout {
    color: var(--red);
}

#sidebar .side-menu.top li a:hover {
    border-radius: 25px;
    border: 1px solid white;
    background-color: white;
    font-weight: bolder;
    text-decoration: none;
}

#sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}

/* SIDEBAR */

.profile-img {
    border-radius: 20px;
    height: 25px;
    margin: -10px 0 0 20px;
}

.profie-name {
    font-weight: bolder;
    font-size: 14px;
    // margin-top: -25px;
    margin-left: 10px;
    color: black;
}

.profile-line {
    margin: -7px 60px -33px 20px;
}

.menu-heading {
    margin-left: 18px;
    font-size: 13px;
    color: #aaaaaae6;
}

.menu-line {
    margin: 20px 50px 21px 10px;
}

.hexa {
    height: 35px;
}