<section id="sidebar" [ngClass]="status ? 'hide' : ''">
  <div class="brand">
    <img class="profile-img"
      src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
    <h2 class="profie-name">Nilesh Pund</h2>
    <i class="fa-solid fa-angle-up"></i>
    <p class="angle-down">
      <i class="fa-solid fa-angle-down"></i>
    </p>
  </div>
  <p><hr class="menu-line-initial">
  <ul class="side-menu top">
    <li *ngFor="let menuItem of menuItems">
      <ng-container *ngIf="menuItem.heading; else menuLink">
        <hr class="menu-line" *ngIf="menuItem.line" />
        <span class="menu-heading">{{ menuItem.text }}</span>
      </ng-container>
      <ng-template #menuLink>
        <a href="#">
          <i *ngIf="menuItem.icon" class="{{ menuItem.icon }}"></i>
          <span class="text">{{ menuItem.text }}</span>
        </a>
      </ng-template>
    </li>
  </ul>
  <div class="payment-container">
    <i class="fa-sharp fa-solid fa-circle-plus Payment-icon"></i>
    <p>New Payment</p>
  </div>
</section>