<section id="sidebar" [ngClass]="status ? 'hide' : ''">
  <a href="#" class="brand">
    <img class="profile-img"
      src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
    <h2 class="profie-name">Nilesh Pund</h2>
    <i class="fa-solid fa-angle-up"></i>
    <p class="angle-down">
      <i class="fa-solid fa-angle-down"></i>
    </p>
  </a>
  <a href="#" class="profile"></a>
  <hr class="profile-line">
  <ul class="side-menu top">
    <span class="menu-heading">Menu</span>
    <li class="active">
      <a href="#">
        <i class='bx bxs-dashboard'></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-shopping-bag-alt'></i>
        <span class="text">My Store</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-doughnut-chart'></i>
        <span class="text">Analytics</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-message-dots'></i>
        <span class="text">Message</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-group'></i>
        <span class="text">Team</span>
      </a>
    </li>
    <hr class="menu-line">
    <span class="menu-heading">General</span>
    <li class="active">
      <a href="#">
        <i class='bx bxs-dashboard'></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-shopping-bag-alt'></i>
        <span class="text">My Store</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-doughnut-chart'></i>
        <span class="text">Analytics</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-message-dots'></i>
        <span class="text">Message</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-group'></i>
        <span class="text">Team</span>
      </a>
    </li>
    <!-- <li>
        <a class="payment-mode" href="#">
          <i class='bx bxs-group' ></i>
          <span class="text">Team</span>
        </a>
      </li> -->
  </ul>
</section>