<div class="card">
    <div class="row">
      <div class="col-md-8">
        <span class="card-title main-title">My Card: 1<span class="divide">/2</span></span>
      </div>
      <div class="col-md-4 custom-flex-container">
        <i class="fa-solid fa-angle-left mx-2"></i>

        <i class="fa-solid fa-angle-right"></i>
      </div>
    </div>
    <div class="row">
      <img class="atm-card" src="assets/atmCard (2).png">

      <div class="card-body">
        <span class="add-atm">
          <i class="fa-sharp fa-solid fa-circle-plus"></i><span class="card-txt">Add New Card</span>
        </span>
        <hr class="subtitle-hr">
        <span class="card-title">Quick Actions</span>

        <div class="row action-btns">
          <div class="col-md-4">
            <i class="far fa-square-plus"></i>
            <p class="actn-text">Top Up</p>
          </div>
          <div class="col-md-4">
            <i class="fas fa-paper-plane"></i>
            <p class="actn-text">Transfer</p>
          </div>
          <div class="col-md-4">
            <i class="fas fa-camera"></i>
            <p class="actn-text">Withdrawal</p>
          </div>
        </div>

        <hr class="subtitle-hr">
        <div class="row">
          <div class="col-md-6">
            <span class="card-title">Saving Plan</span>
          </div>
          <div class="col-md-6">
            <i class="fa-sharp fa-solid fa-circle-plus"></i>
          </div>
        </div>
        <div class="s-plan">
          <div class="row ">
            <div class="col-md-3">
              <i class="fa-regular fa-clock"></i>
            </div>
            <div class="col-md-7 watch">
              <span class="watch-txt">New Watch</span>
              <p class="watch-price">Target $1200</p>
            </div>
            <div class="col-md-2 dots">
              ...
            </div>
          </div>
          <div class="row s-prog">
            <span class="total">Total: $1200</span>
            <span class="precentage">50%</span>
            <progress id="short-prog" [value]="40" max="100"></progress>
          </div>
        </div>

        <div class="s-plan">
          <div class="row ">
            <div class="col-md-3">
              <i class="fa-solid fa-radio"></i>
            </div>
            <div class="col-md-7 watch">
              <span class="watch-txt">Play Station</span>
              <p class="watch-price">Target $1200</p>
            </div>
            <div class="col-md-2 dots">
              ...
            </div>
          </div>
          <div class="row s-prog">
            <span class="total">Total: $1200</span>
            <span class="precentage">50%</span>
          </div>
        </div>

      </div>
    </div>

  </div>