<div class="dashboard-container">
    <!-- <div class="header">
      <div class="hamburger" (click)="sideNav.toggleNav()">
        ☰ 
      </div>
    
    </div> -->
    <!-- <div class="container"> -->
      <!-- <app-side-nav #sideNav></app-side-nav> -->
      <div class="dashboard-content">
        <!-- Your dashboard content goes here -->
        <div class="card" style="background-color: red;width: 18rem;">
          <div class="card-header">3123
            <div class="card-body">
              dssdsd
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
  